& {
    margin: 0 auto 30vh auto;
    padding: $whitespace * 1.25;
}

#disqus_thread {
    margin-bottom: -20vh;
}

.site-header {
    text-align: right;
    font-family: $font-stack-sans-serif;

    a {
        display: inline-block;
        margin-bottom: $whitespace / 4;
        margin-left: $whitespace;
    }
}

.post-listing {
    margin: $whitespace 0;

    a {
        display: inline-block;
    }

    .col-left {
        margin-right: $whitespace;
        margin-bottom: $whitespace / 4;
    }

    @media all and (min-width: $max-width) {
        .col-left {
            float: left;
        }
    }

    .col-right {
        overflow: hidden;
    }
}

.whitespace-below {
    margin-bottom: scale-margin(2);
}

.label {
    color: $color-text-light;
}

.img-wrapper {
    display: block;
    margin: ($whitespace * 2) 0;

    img {
        width: 100%;
    }

    .img-caption {
        margin-top: $whitespace / 2;
        color: $color-text-light;
        font-style: italic;
    }
}

a:hover,
a:focus,
a:active {
    outline: none;
}
