<footer class="site-footer">
    <div class="col-wrapper">
        <div class="col-left">
            <p class="site-title">{{ site.title }}</p>

{% if site.description %}
            <p>{{ site.description }}</p>
{% endif %}

{% if site.copyright %}
            <p>{{ site.copyright }}</p>
{% endif %}
        </div>

        <div class="col-right">
            <p><a href="{{ 'atom.xml' | relative_url }}">Subscribe via Atom</a></p>

            <p>
{% if site.contact.email %}
                <a class="fa fa-envelope" aria-hidden="true" title="link to email" href="mailto:{{ site.contact.email }}"></a>
{% endif %}

{% if site.contact.github_username %}
                <a class="fa fa-github" aria-hidden="true" title="link to github" href="https://www.github.com/{{ site.contact.github_username }}"></a>
{% endif %}

{% if site.contact.linkedin_username %}
                <a class="fa fa-linkedin" aria-hidden="true" title="link to linkedin" href="https://www.linkedin.com/in/{{ site.contact.linkedin_username }}"></a>
{% endif %}

{% if site.contact.medium_username %}
                <a class="fa fa-medium" aria-hidden="true" title="link to medium" href="https://www.medium.com/@{{ site.contact.medium_username }}"></a>
{% endif %}

{% if site.contact.twitter_username %}
                <a class="fa fa-twitter" aria-hidden="true" title="link to twitter" href="https://www.twitter.com/{{ site.contact.twitter_username }}"></a>
{% endif %}
            </p>
        </div>
    </div>
</footer>
