<header class="site-header">
    <div class="col-wrapper">
        <div class="col-left">
            <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        </div>

        <div class="col-right">
            {% for page in site.pages %}
                {% if page.title and page.title != 404 %}
            <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</header>
