{% if page.previous or page.next %}
<div class="post-navigation">
    <ul class="post-listing">
        {% if page.previous %}
        <li>
            <div class="col-wrapper post-older">
                <div class="col-left post-meta">
                    Older:
                </div>

                <div class="col-right">
                    <a href="{{ page.previous.url | relative_url }}">
                       {{ page.previous.title }}
                    </a>
                </div>
            </div>
        </li>
        {% endif %}

        {% if page.next %}
        <li>
            <div class="col-wrapper post-newer">
                <div class="col-left post-meta">
                    Newer:
                </div>

                <div class="col-right">
                    <a href="{{ page.next.url | relative_url }}">
                       {{ page.next.title }}
                    </a>
                </div>
            </div>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
