/*
 *  Base
 */

body {
    background: $color-background;
    font: $font-size-base $font-family-serif;
    color: $color-base;
    line-height: $line-height-base;
    padding: 2.5rem 1.5rem 3rem 1.5rem;
}




/*
 *  Grid
 */

.grid {
    width: 100%;
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
}

.grid-col {
    margin-bottom: $spacing-unit / 4;
}

@media all and (min-width: $content-width + $spacing-unit*2) {
    .grid-row {
        display: table;
        table-layout: fixed;
        width: 100%;

        margin-right: $spacing-unit * -1;
        margin-left: $spacing-unit * -1;
        border-spacing: $spacing-unit 0;
    }

    .grid-col {
        display: table-cell;
        vertical-align: top;
    }

    .span-1 { width: 16.66%; }
    .span-2 { width: 33.33%; }
    .span-3 { width: 49.99%; }
    .span-4 { width: 66.33%; }
    .span-5 { width: 82.66%; }
    .span-6 { width: 99.99%; }

    .align-right {
        text-align: right;
    }
}




/*
 *  Header
 */

.site-header {
    font-family: $font-family-sans;
    margin-bottom: $page-whitespace-small;

    .grid-col {
        margin-bottom: $spacing-unit / 2;
    }

    a {
        &:not(:last-child) {
            margin-right: $spacing-unit;
        }
    }

    .site-title {
        font-size: $font-size-large;
        font-weight: bold;
        color: $color-lighter;

        &:hover,
        &:focus {
            color: $color-actionable;
        }
    }
}




/*
 *  Footer
 */

.site-footer {
    margin-top: $page-whitespace-large;
    font-family: $font-family-sans;
    color: $color-lightest;

    .grid-col {
        margin-bottom: $spacing-unit * 1.5;
    }

    p {
        margin-top: 0;
        margin-bottom: $spacing-unit / 2;
    }

    .contact-buttons {
        a {
            margin-top: -0.15rem;
            padding: 0.3rem 0.5rem 0.5rem 0.5rem;
            font-size: $font-size-large;

            &:first-child {
                margin-left: -0.5rem;
            }

            &:last-child {
                margin-right: -0.5rem;
            }
        }
    }
}
