/*
 *  Grid
 */

.grid {
    width: 100%;
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
}

.grid-col {
    margin-bottom: $whitespace-base / 4;
}

@media all and (min-width: $content-width + 3rem) {
    .grid-row {
        display: table;
        table-layout: fixed;
        width: 100%;

        margin-right: $whitespace-base * -1;
        margin-left: $whitespace-base * -1;
        border-spacing: $whitespace-base 0;
    }

    .grid-col {
        display: table-cell;
        vertical-align: top;
    }

    .span-1 { width: 16.66%; }
    .span-2 { width: 33.33%; }
    .span-3 { width: 49.99%; }
    .span-4 { width: 66.66%; }
    .span-5 { width: 82.33%; }
    .span-6 { width: 99.99%; }

    .align-right {
        text-align: right;
    }
}




/*
 *  Containers
 */

body {
    padding: 2.5rem 1.5rem 3rem 1.5rem;
    background: $color-background;
    font: $font-size-base $font-family-serif;
    line-height: $line-height-base;
    color: $color-base;
}

.site-header,
.site-footer {
    font-family: $font-family-sans;
    color: $color-lightest;

    .nav-text {
        display: block;
        margin-bottom: $whitespace-base;
        line-height: $line-height-base;
    }

    .nav-large {
        font-size: $font-size-large;
        color: $color-lighter;
    }

    a {
        &:not(:last-child) {
            margin-right: $whitespace-base;
        }
                    color: $color-actionable;
    }
}

.site-header {
    margin-bottom: $whitespace-larger;

    .site-title {
        font-weight: bold;

        &:hover,
        &:focus {
            color: $color-actionable;
        }
    }
}

.site-footer {
    margin-top: $whitespace-largest;

    .contact-button {
        &:hover,
        &:focus {
            color: $color-actionable;
            border-color: $color-background;
        }
    }
}
