/*
 *  Headings
 */

h1,
h2,
h3,
h4 {
    font-family: $font-family-sans;
}

h1 {
    margin-bottom: $margin-bottom-h1;
    line-height: $line-height-smallest;
    font-size: $font-size-h1;
}

h2 {
    margin-top: $margin-top-h2;
    margin-bottom: $whitespace-base;
    line-height: $line-height-smallest;
    font-size: $font-size-h2;
}

h3 {
    margin-top: $margin-top-h3;
    margin-bottom: $whitespace-base * 0.75;
    line-height: $line-height-smaller;
    font-size: $font-size-h3;
    font-weight: bold;
}

h4 {
    margin-top: $margin-top-h4;
    margin-bottom: $whitespace-base * 0.75;
    line-height: $line-height-smaller;
    font-size: $font-size-h4;
    font-style: italic;
}




/*
 *  Text
 */

p,
ol,
ul,
dl {
    margin-bottom: $whitespace-base;
}

p + ol,
p + ul {
    margin-top: $whitespace-base * -0.66;
}

ol,
ul {
    list-style-position: outside;
    margin-left: $whitespace-base * 2.5;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: circle;
}

li {
    margin-top: $whitespace-base / 8;
    padding-left: 0;

    > ul,
    > ol {
        margin-left: $whitespace-base * 2;
        margin-bottom: 0;
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}




/*
 *  Links
 */

a {
    border-bottom: 1px solid $color-background;
    text-decoration: none;
    color: $color-actionable;

    &:hover,
    &:focus {
        outline: none;
        border-color: $color-actionable;
    }
}

.img-link {
    &:hover,
    &:focus {
        border-color: $color-background;
    }
}




/*
 *  Images
 */

.img-wrapper {
    display: block;
    margin: $whitespace-base*2 0 $whitespace-base*2 0;

    img {
        width: 100%;
    }

    .img-caption {
        margin-top: $whitespace-base / 2;
        font-size: $font-size-small;
        line-height: $line-height-smallest;
        color: $color-lighter;
        font-style: italic;
    }
}




/*
 *  Blockquotes
 */

blockquote {
    margin-bottom: $whitespace-base;
    padding-left: $whitespace-base * 1.5;

    p {
        margin-top: $whitespace-base / 2;
        margin-bottom: $whitespace-base / 2;
        font-style: italic;
        color: $color-lighter;
    }
}




/*
 *  Code
 */

pre {
    overflow-x: auto;
    margin-bottom: $whitespace-base;
    padding-left: $whitespace-base * 1.5;

    > code {
        padding: 0;
    }
}

code {
    padding: 0 0.25rem;
    font: $font-size-small $font-family-mono;
    color: $color-lighter;
}




/*
 *  Lines
 */

hr {
    width: 100%;
    height: 1px;
    margin-top: $margin-top-h2 + $whitespace-base/2;
    margin-bottom: $margin-top-h2;
    border: none;
    background: $color-line;
}
