/*
 *  Post
 */

.post-info {
    margin-top: $margin-bottom-h1 / -2;
    margin-bottom: $margin-bottom-h1;
}

.post-meta {
    font-family: $font-family-sans;
    color: $color-text-lightest;
}

.post-listing-recent {
    margin-top: $page-whitespace-small;
    color: $color-text-lightest;

    a,
    .post-meta {
        display: inline-block;
        margin-bottom: $spacing-unit;
    }
}




/*
 *  Homepage
 */

.post-listing {
    margin: 0;
    font-family: $font-family-sans;
    list-style: none;

    li {
        margin-bottom: $spacing-unit;
    }

    .post-blurb {
        margin-top: $spacing-unit / 4;
        margin-bottom: $spacing-unit / 8;
        font: $font-size-small $font-family-serif;
        font-style: italic;
        line-height: $line-height-smaller;
        color: $color-text-lighter;
    }
}

.archive-link {
    margin-top: $page-whitespace-small;
    text-align: right;
    font-family: $font-family-sans;
}
