.post-listing {
    margin-bottom: $whitespace-base * 1.5;
    font-family: $font-family-sans;
}

.post-meta {
    font-family: $font-family-sans;
    color: $color-lightest;

    &:not(:last-child) {
        margin-right: $whitespace-base;
        margin-bottom: $whitespace-base;
    }
}

.post-blurb {
    margin-top: $whitespace-base / 4;
    margin-bottom: $whitespace-base / 8;
    font: $font-size-small $font-family-serif;
    font-style: italic;
    line-height: $line-height-smallest;
    color: $color-lighter;
}

.archive-link {
    margin-top: $whitespace-larger;
}

.post-subhead {
    margin-top: $margin-bottom-h1 * -0.75;
    margin-bottom: $margin-bottom-h1 * 0.75;
}

.default-row {
    margin-bottom: $margin-top-h2;
}

.recent-posts {
    margin-top: $whitespace-largest;
    margin-bottom: $whitespace-larger - $whitespace-largest;
    color: $color-lightest;
}
