$color-background:    #FFFEFD;
$color-text-base:     #263238;
$color-text-lighter:  #37474F;
$color-text-lightest: #90A4AE;
$color-line:          #CFD8DC;
$color-fill:          #ECEFF1;
$color-actionable:    #FF6D00;
