---
---

$font-size-value:       15;
$line-height-value:     145;
$content-width:         36rem;
$spacing-unit:          1rem;
$page-whitespace-small: $spacing-unit * 4;
$page-whitespace-large: $spacing-unit * 6;

////////////////////////////////////////////////////////////////////////////////

$font-size-base:  ($font-size-value * 1.00) + 0px;
$font-size-small: ($font-size-value * 0.95) + 0px;
$font-size-large: ($font-size-value * 1.15) + 0px;

$font-size-h1: 150.0%;
$font-size-h2: 125.0%;
$font-size-h3: 100.0%;
$font-size-h4:  97.5%;

$line-height-base:     $line-height-value + ($font-size-value * 1.5%);
$line-height-smaller:  $line-height-value + ($font-size-value * 1.0%);
$line-height-smallest: $line-height-value + ($font-size-value * 0.5%);

$margin-bottom-h1: $spacing-unit * 2.0;
$margin-top-h2:    $spacing-unit * 2.0;
$margin-top-h3:    $spacing-unit * 1.5;
$margin-top-h4:    $spacing-unit * 1.5;

$font-family-serif: Georgia, serif;
$font-family-sans:  Tahoma, sans;
$font-family-mono:  "Droid Sans Mono", monospace;

////////////////////////////////////////////////////////////////////////////////

@charset "utf-8";

@import "reset",
        "{{ site.color_theme }}/colors",
        "layout",
        "posts",
        "markdown",
        "syntax-highlighting";

////////////////////////////////////////////////////////////////////////////////
