body {
    box-sizing: content-box;
    max-width: $type-reset-max-content-width;
    margin: 0 auto 25vh auto;
    padding: $type-reset-leading * 1.25;
}

.site-header {
    text-align: right;

    a {
        display: inline-block;
        margin-bottom: $type-reset-leading / 4;
        margin-left: 1rem;
    }
}

@keyframes fadein {
    from { opacity: 0.25; }
    to   { opacity: 1.00; }
}

.site-content {
    animation: fadein 0.25s;
}

.post-listing {
    margin: $type-reset-leading 0;

    a {
        display: inline-block;
    }

    .col-left {
        margin-right: $type-reset-leading;
        margin-bottom: $type-reset-leading / 4;
    }

    @media all and (min-width: $type-reset-max-content-width) {
        .col-left { float: left; }
    }

    .col-right {
        overflow: hidden;
    }
}

.whitespace-below {
    margin-bottom: $type-reset-vertical-rhythm * $type-reset-margin-scale-h2;
}

.label {
    font-family: $type-reset-font-family-sans;
    color: $type-reset-color-lightest;
}

.img-wrapper {
    display: block;
    margin: ($type-reset-leading * 2) 0;

    img {
        width: 100%;
    }

    .img-caption {
        margin-top: $type-reset-leading / 2;
        color: $type-reset-color-lighter;
        font-style: italic;
    }
}

a:hover,
a:focus,
a:active {
    outline: none;
    color: $type-reset-color;
}
