body {
    box-sizing: content-box;
    max-width: $tr-max-content-width;
    margin: 0 auto 25vh auto;
    padding: $tr-leading * 1.25;
}

.site-header {
    float: right;
    font-family: $tr-font-stack-sans-serif;

    a {
        display: inline-block;
        margin-bottom: $tr-leading / 4;
        margin-left: 1rem;
    }
}

.post-listing {
    margin: $tr-leading 0;

    a {
        display: inline-block;
    }

    .col-left {
        margin-right: $tr-leading;
        margin-bottom: $tr-leading / 4;
    }

    @media all and (min-width: $tr-max-content-width) {
        .col-left { float: left; }
    }

    .col-right {
        overflow: hidden;
    }
}

.whitespace-below {
    margin-bottom: tr-scale-margin(2);
}

.label {
    color: $tr-color-text-lightest;
}

.img-wrapper {
    display: block;
    margin: ($tr-leading * 2) 0;

    img {
        width: 100%;
    }

    .img-caption {
        margin-top: $tr-leading / 2;
        color: $tr-color-text-lighter;
        font-style: italic;
    }
}

a:hover,
a:focus,
a:active {
    outline: none;
    color: $tr-color-text;
}
