<footer class="grid-row site-footer">
    <div class="grid-col span-4">
        {% if site.description %}
        <span class="nav-text">{{ site.description | escape }}</span>
        {% endif %}

        {% if site.copyright %}
        <span class="nav-text">{{ site.copyright | escape }}</span>
        {% endif %}
    </div>

    <div class="grid-col span-2 align-right">
        <span class="nav-text"><a href="{{ 'atom.xml' | relative_url }}">Subscribe via Atom</a></span>

        {% if site.contact.email %}
        <a class="fa fa-envelope contact-button nav-large"
           title="Email"
           href="mailto:{{ site.contact.email }}">
        </a>
        {% endif %}

        {% if site.contact.github_username %}
        <a class="fa fa-github contact-button nav-large"
           title="Github"
           href="https://www.github.com/{{ site.contact.github_username }}"></a>
        {% endif %}

        {% if site.contact.linkedin_username %}
        <a class="fa fa-linkedin contact-button nav-large"
           title="LinkedIn"
           href="https://www.linkedin.com/in/{{ site.contact.linkedin_username }}"></a>
        {% endif %}

        {% if site.contact.medium_username %}
        <a class="fa fa-medium contact-button nav-large"
           title="Medium"
           href="https://www.medium.com/@{{ site.contact.medium_username }}"></a>
        {% endif %}

        {% if site.contact.twitter_username %}
        <a class="fa fa-twitter contact-button nav-large"
           title="Twitter"
           href="https://www.twitter.com/{{ site.contact.twitter_username }}"></a>
        {% endif %}
    </div>
</footer>
