---
layout: default
---

<article class="whitespace-below">
    <header class="whitespace-below">
        <h1>{{ page.title | escape }}</h1>

        <span class="label">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
            {% assign tags = page.tags %}
            {% include delimit-tags-by-comma.html %}
        </span>
    </header>

    {{ content }}
</article>

{% if page.comments %}
{% include disqus.html %}
{% endif %}
