---
layout: default
---

<article class="whitespace-below">
    <header class="whitespace-below">
        <h1>{{ page.title | escape }}</h1>

        <span class="label">
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: site.date_format }}
            </time>

            {% for tag in page.tags %}
            {% if forloop.first %}&nbsp;in{% endif %}
            &nbsp;<a href="{{ "topics/#" | append: tag | relative_url }}">{{ tag }}{% unless forloop.last %},{% endunless %}</a>
            {% endfor %}
        </span>
    </header>

    {{ content }}
</article>

{% if page.comments %}
{% include disqus.html %}
{% endif %}
